<app-header></app-header>
<main>
    <ul id="users">
        @for ( user of users; track user.id ){ 
            <li>
                <app-user [selezionato]="user.id === utenteSelezionatoId" [user]="user" (utenteCliccato)="utenteSelezionatoClick($event)"></app-user>
            </li>
        }
    </ul>
    @if (utenteSelezionato){
        <app-tasks [name]="utenteSelezionato.name" [userId]="utenteSelezionato.id"></app-tasks>
    } @else {
        <p id="fallback">Non hai ancora selezionato nessun utente</p>
    }
</main>